﻿@charset "UTF-8";

/* CSS Stylesheet of 20171.fet
   Stylesheet generated with FET 5.30.5 on 11/17/16 5:38 PM */

/* To do a page-break only after every second timetable, delete "page-break-before: always;" in "table.even_table". */
/* Delete "page-break-before: always;" in "table.even_table" and in "table.odd_table" to skip page-breaks. */
/* To hide an element just write the following phrase into the element: "display:none;" (without quotes). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left:auto; margin-right:auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Some programs import "tfoot" incorrectly. So we use "tr.foot" instead of "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

/* Style the teachers free periods */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

/* End of file. */
